<div class="jumbotron jumbotron-fluid py-5 mini_banner mb-0 bg-info">
  <div class="container text-center">
  	<div class="row">
			<div class="col-md-6">
				<h2 class="font-weight-bold text-white mb-3">Développez votre patientèle avec la prise de rendez-vous en ligne.</h2>
    		<p class=" text-white"><span class="sr-only">Prise de rendez-vous en ligne, SMS de rappel, communication patient en 1 clic.</span>Grâce à <span class="font-weight-bold">Dototché</span> optimisez dès maintenant la gestion de vos rendez-vous et développer votre patientèle.</p>
			</div>
			<div class="col-md-5 offset-md-1">
				<div class="card">
					<div class="card-body">
						<h4>Demande d'information</h4>

					</div>
				</div>
			</div>
  	</div>
  </div>
</div>

<section class="container-fluid py-5">
	<div class="container">
		<div class="row">
			<div class="col-12 text-center mb-5">
				<h2>Découvrez pourquoi vous devrez utiliser <span class="font-weight-bold">Dototché</span></h2>
			</div>
			<div class="col-md-3 text-center">
					<i class="fa fa-clock-o fa-border text-primary fa-5x mb-3" aria-hidden="true"></i>
					<p class="h5">Gagnez 30% de temps de secrétariat</p>
			</div>
			<div class="col-md-3 text-center">
				<i class="fa fa-thumbs-o-up fa-border text-primary fa-5x mb-3" aria-hidden="true"></i>
					<p class="h5">Réduisez de 75% vos rendez-vous non honorés</p>
			</div>
			<div class="col-md-3 text-center">
					<p class="h5">Renouvelez votre patientiel selon vos besoin</p>
			</div>
			<div class="col-md-3 text-center">
				<i class="fa fa-line-chart fa-border text-primary fa-5x mb-3" aria-hidden="true"></i>
				<p class="h5">Apportez un service nouveau pour vos patients</p>
			</div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center mb-5">
          <h2>Ils nous font confiance</h2>
      </div>
		</div>
	</div>
</section>

<section class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 text-center mb-5">
          <h2>Ils parlent de nous</h2>
      </div>
		</div>
	</div>
</section>
